[basic]
node_id = idxn0101
bind_ip = 127.0.0.1
pub_tcp_port = 8000
workdir = .
log_level = DEBUG
log_file = ./indexnode.log
pid_file = ./indexnode.pid
tcp_recvbuf_size = 2048
tcp_sendbuf_size = 2048
tcp_bufio_num = 64
update_cache_thr = 100
flush_interval = 60
flush_timeout = 300

[etcd]
machines = http://localhost:4001
attr_machines = "http://localhost:4101"
pool_size = 4
max_pool_size = 64
